/* .modal {
   position: absolute;
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
} */

.modal-dialo {
  position: absolute;
  top: 10px;
  /* width: 800px; */
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.modal-content {
  padding: 20px;
}
      /* changed notification color to red */
.header-notifications-trigger span{
  background-color: #c00;
}

/* changed margins to 0 from bootstrap grid system */
.checkbox+.checkbox, .radio+.radio {
    margin-top: 0px;
}


/* changed margins to 0 from bootstrap grid system */
.checkbox, .radio {
    /* position: relative; */
    /* display: block; */
     margin-top: 0px;
     margin-bottom: 0px;
    /* box-sizing: border-box; */
}
